/.idea
/.idea2

*/__pycache__/*
pycache/*

IntermediateComputations/

Dataset/UserCBF_album.pkl
Dataset/UserCBF_album_all.pkl
Dataset/UserCBF_artists.pkl
Dataset/UserCBF_artists_all.pkl
Dataset/new_train.csv

.ipynb_checkpoints/

